<html>

	<head>
		<h1>EXCERSICE TYPE : ENTER DETAILS</h1>
	</head>
	
	<body>
		<form action="http://127.0.0.1:5000/predict_dis" method="POST">
			<p>Value 1 <input type="ratio" name= "v1" value="1"/></p>
			<p>Value 2 <input type="ratio" name= "v2"/></p>
			<p>Value 3 <input type="ratio" name= "v3"/></p>
			<p>Value 4 <input type="ratio" name= "v4"/></p>
			<p>Value 5 <input type="ratio" name= "v5"/></p>
			<p>Value 6 <input type="ratio" name= "v6"/></p>
			<p>Value 7 <input type="ratio" name= "v7"/></p>
			<p>Value 8 <input type="ratio" name= "v8"/></p>
			<p>Value 9 <input type="ratio" name= "v9"/></p>
			<p>Value 10 <input type="ratio" name= "v10"/></p>
			<p>Value 11<input type="ratio" name= "v11"/></p>
			<p>Value 12<input type="ratio" name= "v12"/></p>
			<p>Value 13<input type="ratio" name= "v13"/></p>
			<p>Value 14<input type="ratio" name= "v14"/></p>
			<p>Value 15 <input type="ratio" name= "v15"/></p>
			<p>Value 16 <input type="ratio" name= "v16"/></p>
			<p>Value 17 <input type="ratio" name= "v17"/></p>
			<p>Value 18 <input type="ratio" name= "v18"/></p>
			<p>Value 19 <input type="ratio" name= "v19"/></p>
			<p>Value 20 <input type="ratio" name= "v20"/></p>
			<p>Value 21 <input type="ratio" name= "v21"/></p>
			<p>Value 22 <input type="ratio" name= "v22"/></p>
			<p>Value 23 <input type="ratio" name= "v23"/></p>
			<p>Value 24 <input type="ratio" name= "v24"/></p>
			<p>Value 25 <input type="ratio" name= "v25"/></p>
			<p>Value 26 <input type="ratio" name= "v26"/></p>
			<p>Value 27 <input type="ratio" name= "v27"/></p>
			<p>Value 28 <input type="ratio" name= "v28"/></p>
			<p>Value 29 <input type="ratio" name= "v29"/></p>
			<p>Value 30 <input type="ratio" name= "v30"/></p>
			<p>Value 31 <input type="ratio" name= "v31"/></p>
			<p>Value 32 <input type="ratio" name= "v32"/></p>
			<p>Value 33 <input type="ratio" name= "v33"/></p>
			<p>Value 34 <input type="ratio" name= "v34"/></p>
			<p>Value 35 <input type="ratio" name= "v35"/></p>
			<p>Value 36 <input type="ratio" name= "v36"/></p>
			
			<p><input type="submit" value= "PREDICT"/></p>
			
		</form>
	<body>
	
</html>