
<html>
    <head>
    <script src="{{ url_for('static', filename = 'js/jquery-1.11.2.min.js') }}"></script> 
    <script src="{{ url_for('static', filename = 'js/bootstrap.min.js') }}"></script>     
    </head>
    {% include 'nav_patient.html' %}
    
  <body style="background-image:url({{ url_for('static', filename = 'bg_3.jpg') }});background-size:cover;">         
 <div id="includedContent"></div>
        
   <div class="container main-wrapper" style="max-width:61%; max-height:50%;padding-top: 100px;">
     <div class="contert-wrapper pb-15"> 
         <h1 class="title pb-20 pr-30" style="color:red;">Decision Tree</h1>
            <h3 class="title pb-20 pr-30">Welcome {{session['name']}}</h3>         
     
                {% for value in result %}         
                <div class="container">  
                  <button type="button" class="btn btn-info" data-toggle="collapse" data-target="#demo{{ value[0] }}">{{ value[1] }}</button>
                  <div id="demo{{ value[0] }}" class="collapse">
                    <div class="col-md-4 ">                             
                    <img src="{{ url_for('static', filename ='')}}{{value[0]}}.jpeg" class="img-rounded" alt="Ischemic heart disease" style="width:300px; height:300px;">
                    </div>
                    <div class="col-lg-5" style="width:600px;padding: 10px solid #000;word-break:break-all;">
                    <h4>{{ value[3] }}</h4>
                    </br></br>   
                    <h3>Symptoms :</h3>
                    </br>
                    <h4>{{ value[2] }}<h4>
                   </div> 
                  </div>
                </div>
                </br>
                </br>
            {% endfor %}
            </br>
      </div>
   </div> 
    
    </body>
</html>