
<html>
    <head>
    <head>
    <script src="{{ url_for('static', filename = 'js/jquery-1.11.2.min.js') }}"></script>
    <script src="{{ url_for('static', filename = 'js/jquery.validate.js') }}"></script>   
    </head>
    {% include 'nav_patient.html' %}   
    </head>
    
     
    
 <body style="background-image:url({{ url_for('static', filename = 'bg_3.jpg') }});background-size:cover;">  
 <div id="includedContent"></div>
        <div class="container main-wrapper" style="max-width:40%; max-height:50%;padding-top: 100px;">
            <div class="contert-wrapper pb-15">
                <h1 class="title pb-20 pr-30" style="color:red;">Meal Plans</h1>
                  <form action ="http://localhost:5000/predict_mealPlan" method = "post" id="mpf">  
                            <div class="row form-row">    
                                        <div class="col-md-4 input-layout col-md-offset-2">
                                            <h4 class="title">Age</h4>
                                            <input type="number" class="" name="age" value="">
                                        </div>
                                        
                            </div>
                            
                                                                                                        
                              <div class="row form-row">     
                                        <div class="col-md-4 col-md-offset-2" style="width:100px">
                                            <h4 class="title">Gender</h4>
                                        </div>
                                        <div class="col-md-4 col-md-offset-2">
                                            <input type="radio" class="pr30" name="gender"
                                                   value="1"> Male 
                                             <input type="radio" name="gender"
                                            value="0"> Female
                                        </div>
                              </div>
                
                              <div class="row form-row">    
                                        <div class="col-md-4 input-layout col-md-offset-2">
                                            <h4 class="title">Height(m)</h4>
                                            <input type="float" class="" name="hh" value="">
                                        </div>                                        
                              </div>
                              
                              <div class="row form-row">    
                                        <div class="col-md-4 input-layout col-md-offset-2">
                                            <h4 class="title">Weight(kg)</h4>
                                            <input type="float" class="" name="ww" value="">
                                        </div>                                        
                              </div> 
                
                            <div class="row form-row">    
                                        <div class="col-md-4 input-layout col-md-offset-2">
                                            <h4 class="title">Risk Level</h4>
                                            <input type="float" class="" name="risk" value="">
                                        </div>                                        
                            </div> 
                
                            <div class="row">
                                        <div class="col-md-12">
                                            <button type="submit" class="bx-but bx-save" name="save" onclick="" >Show Meal Plan</button>
                                        </div>                                   
                             </div>
                </form>
                
                <h4 class="title">Meal Plan</h4>
                <img style="width:650px;hight:450px;" src="{{ url_for('static', filename = "meal/"+result ) }}"/>
        </div>
    </body>
</html>

<script>

$(document).ready(function () {

    $('#mpf').validate({ // initialize the plugin
        rules: {
            age: {
                required: true,
                email: true
            },
            hh: {
                required: true,
            },
            ww: {
                required: true,
            },
            gender: {
                required: true,
            },
            risk: {
                required: true,
            },
        }
    });

});

</script>