
<html>
    <head>
         <script src="{{ url_for('static', filename = 'js/jquery-1.11.2.min.js') }}"></script>
         <script src="{{ url_for('static', filename = 'js/jquery.validate.js') }}"></script>      
    </head>
    
    {% include 'nav_Login.html' %}
     
    
 <body style="background-image:url({{ url_for('static', filename = 'bg_3.jpg') }});background-size:cover;">      
 <div id="includedContent"></div>
    
<div class="container main-wrapper" style="max-width:45%; max-height:50%;padding-top: 100px;">
        <div class="contert-wrapper pb-15">
            <h1 class="title pb-20 pr-30" style="color:red;">Register Patient</h1>

            <form action ="http://localhost:5000/registerPat" method = "post" id="preg"> 
                
                                    <div class="row form-row">     
                                        <div class="col-md-6 input-layout col-md-offset-2">
                                            <h4 class="title">Email Address(User name)</h4>
                                            <input type="email" class="" name="email" value="" >
                                        </div>
                                    </div> 
                
                                    <div class="row form-row">     
                                        <div class="col-md-4 input-layout col-md-offset-2">
                                            <h4 class="title">Password</h4>
                                            <input type="password" class="" name="password" value=>
                                        </div>   
                                    </div>

                                    <div class="row form-row">    
                                        <div class="col-md-4 input-layout col-md-offset-2">
                                            <h4 class="title">Full Name</h4>
                                            <input type="text" class="" name="name" value="">
                                        </div>
                                    </div>
                              
                                    <div class="row form-row"> 
                                        <div class="col-md-4 input-layout col-md-offset-2">
                                            <h4 class="title">Birthday</h4>
                                            <input type="text" class="datepick" data-language="en" name="dob" value="">
                                        </div>
                                    </div>
                                    
                                    <div class="row form-row">     
                                        <div class="col-md-4 col-md-offset-2" style="width:100px">
                                            <h4 class="title">Gender</h4>
                                        </div>
                                        <div class="col-md-4 col-md-offset-2">
                                            <input type="radio" class="pr30" name="gender"
                                                   value="Male"> Male 
                                             <input type="radio" name="gender"
                                            value="Female"> Female
                                        </div>
                                    </div>
                                                       
                                    <div class="row form-row">     
                                        <div class="col-md-4 input-layout col-md-offset-2">
                                            <h4 class="title">Telephone Number</h4>
                                            <input type="text" class="" name="tel_no" value=>
                                        </div>   
                                    </div>
                                
                                    <div class="row">
                                        <div class="col-md-12">
                                            <button type="submit" class="bx-but bx-save" name="save" onclick="" >Register</button>
                                        </div>                                   
                                    </div>
                
                <div class="alert-warning" id="error"></div>
                <div class="alert-success" id="success"></div>
                
                                    </form>
       
           </div>
        </div>      
    </body>
</html>

<script>

$(document).ready(function () {

    $('#preg').validate({ // initialize the plugin
        rules: {
            email: {
                required: true,
                email: true
            },
            password: {
                required: true,
                minlength: 8
            },
            name: {
                required: true,
            },
            tel_no: {
                required: true,
                minlength: 10
            },

        }
    });

});

</script>