
<html>
    <head>
    <script src="{{ url_for('static', filename = 'js/jquery-1.11.2.min.js') }}"></script> 
    </head>
    {% include 'nav_admin.html' %}
    
  <body style="background-image:url({{ url_for('static', filename = 'bg_3.jpg') }});background-size:cover;">      
 <div id="includedContent"></div>
    
    
<div class="container main-wrapper" style="max-height:50%;padding-top: 100px;">
        <div class="contert-wrapper pb-15">
            <h1 class="title pb-20 pr-30" style="color:red;">List Patients</h1>
<table class="table table-hover">
    <thead class="info">
      <tr>
        <th>Patient Ref No</th>
        <th>Password</th>
        <th>Name</th>
        <th>Email</th>
        <th>Mobile No</th>
      </tr>
    </thead>
    <tbody>
      {% for value in result %}
      <tr>
        <td>{{ value[0] }}</td>
        <td>{{ value[1] }}</td>
        <td>{{ value[2] }}</td>
        <td>{{ value[3] }}</td>
        <td>{{ value[4] }}</td>
      </tr>
     {% endfor %}
    </tbody>
  </table>

            <div class="row">
                  <div class="col-md-12">
                           <button type="button" class="bx-but bx-save" name="save" onclick="" >View</button>
                   </div>                                   
            </div>
       
           </div>
        </div>      
    </body>
</html>

